@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-oswald), sans-serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
  --color-neon-purple: #7477ff;
  --color-neon-blue: #f65f50;
  --background-image-grid-pattern:
    linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply uppercase tracking-tight;
  }
}

.neon-glow {
  box-shadow: 0 0 10px rgba(116, 119, 255, 0.3);
}

.neon-glow-hover:hover {
  box-shadow: 0 0 20px rgba(116, 119, 255, 0.5);
}

.text-glow {
  text-shadow: 0 0 10px rgba(116, 119, 255, 0.5);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
